@media screen and (max-width:936px) {


    .header-banner-cont {

        min-height: 900px;

        .banner-cont {

            flex-wrap: wrap;
            gap: 40px;
            margin-top: 70px;

            .banner-text {
                margin: auto;
                text-align: center;


                .v3-1-box {

                    margin: auto;
                }
            }

            .banner-image {

                margin: auto;
            }
        }
    }






    .why-qubly-sec {


        .why-qubly-benefits-box {

            flex-wrap: wrap;

            row-gap: 50px;

            .benefit {

                margin: auto;
            }
        }
    }


    .launch-with-best-sec {

        flex-wrap: wrap;
        row-gap: 40px;

        .image-circle {

            margin: auto;

            img {
                max-width: 270px;
                margin: auto;
            }
        }

        .launch-with-best-text {

            margin: auto;
        }


    }





    .for-engineering-terms-sec {

        flex-wrap: wrap;
        row-gap: 50px;

        .data-driven-text {

            margin: auto;
        }

        .data-image {

            margin: auto;

            >img {
                width: 500px;
            }
        }
    }



    .brands-section {

        .review-box {

            .logo-box {

                flex-wrap: wrap;
                row-gap: 40px;

                >svg {

                    margin: auto;
                }
            }
        }
    }



    .signup-section {

        flex-wrap: wrap;
        row-gap: 80px;

        .signup-left-section {

            margin: auto;
        }

        .signup-form {

            margin: auto;


        }
    }


    footer {

        .footer-cont {

            flex-wrap: wrap;
            row-gap: 60px;
        }
    }


}



@media screen and (max-width: 800px) {

    .header-banner-cont {

        nav {
            .nav-menu {
                width: 100%;
                position: absolute;
                top: -320px;
                margin: auto;
                text-align: center;
                background-color: #fff;
                padding-bottom: 30px;
                transition: 0.3s;

                ul{
                    flex-direction: column;
                    li:last-child{

                        width: 320px;
                        margin: auto;
                        
                    }
                }
            }

            .nav-menu.active{

                top: 70px;
            }

            .burger-menu {

                display: block;
            }
        }

        .banner-cont {



            .banner-image {

                svg {
                    width: 400px;
                }
            }
        }
    }






    .for-engineering-terms-sec {

        flex-wrap: wrap;
        row-gap: 50px;

        .data-driven-text {

            margin: auto;
        }

        .data-image {

            margin: auto;

            >img {
                width: 400px;
            }
        }
    }

    .signup-section {

        flex-wrap: wrap;
        row-gap: 80px;

        .signup-left-section {

            margin: auto;
        }

        .signup-form {

            margin: auto;

            input {

                width: 270px;
                display: block;
            }

            a {
                max-width: 270px;
            }


        }
    }
}







@media screen and (max-width: 480px) {

    .header-banner-cont {

        nav {
            .nav-menu {
                width: 100%;
                position: absolute;
                top: -320px;
                margin: auto;
                text-align: center;
                background-color: #fff;
                padding-bottom: 30px;
                transition: 0.3s;

                ul{
                    flex-direction: column;
                    li:last-child{

                        width: 320px;
                        margin: auto;
                        
                    }
                }
            }

            .nav-menu.active{

                top: 70px;
            }

            .burger-menu {

                display: block;
            }
        }

        .banner-cont {

            .banner-text {

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }



            .banner-image {

                svg {
                    width: 300px;
                }
            }
        }
    }


    .why-qubly-sec {

        h2 {
            font-size: 2rem;
        }
    }



    .launch-with-best-sec {

        .launch-with-best-text {

            h3 {
                font-size: 2rem;
            }

            p {

                font-size: 0.8rem;
            }
        }
    }






    .for-engineering-terms-sec {

        .data-driven-text {

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }






    .for-engineering-terms-sec {

        flex-wrap: wrap;
        row-gap: 50px;

        .data-driven-text {

            margin: auto;
        }

        .data-image {

            margin: auto;

            >img {
                width: 400px;
            }
        }
    }

    .signup-section {

        flex-wrap: wrap;
        row-gap: 80px;

        .signup-left-section {

            margin: auto;
        }

        .signup-form {

            margin: auto;

            input {

                width: 270px;
                display: block;
            }

            a {
                max-width: 270px;
            }


        }
    }
}